// import bgColor from index.scss
@import "../../Styles/common.scss";

.game-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  user-select: none;
}

.splash {
  position: absolute;
  top: -10px;
  z-index: -1000;
  width: 100%;
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 50%;
  filter: blur(0.8px);
  transition: all 0.3s ease-in-out;
}

.splashkArea {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 99.7%;
  height: 45%;
  background-color: transparent;
  border: $actionItemBorder;
}

.splashClickArea {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 99.7%;
  height: 45%;
  background-color: transparent;
  cursor: pointer;
  border: $actionItemBorder;

  &:hover {
    border: $actionItemBorderHover;
    color: $actionItemColorHover;
  }
}

// loading spinner


.selectGame {
  margin-left: 2rem;
  margin-top: 4rem;
  user-select: none;
  cursor: pointer;
  align-self: flex-start;

  &.hide {
    transform: translateY(100%);
  }

  &.playing {
    display: none;
    // loading spinner

  }

  &.locked {
    cursor: progress;
  }

  &.unlocked {
    cursor: pointer;
    opacity: 1;
    background-blend-mode: saturation 1;
  }
}

.errorMessage {
  margin-top: 2rem;
  color: firebrick;
  font-size: 1rem;
  text-align: center;
  user-select: none;
}

.playButtonContainer {
  background-color: $bgColor;
  margin-top: auto;
  width: 100%;
  height: 50%;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}

.unlocked {
  cursor: pointer;
  opacity: 1;
  background-blend-mode: saturation 1;
}

.playButton {
  width: fit-content;
  align-self: center;
  border: $actionItemBorder;

  &.playing {
    display: none;
  }

  &.locked {
    cursor: not-allowed;
    opacity: 0.5;
    background-blend-mode: saturation 0.5;

    &:hover {
      transform: none;
    }
  }

  &.unlocked {
    cursor: pointer;
    opacity: 1;
    background-blend-mode: saturation 1;

    &:hover {
      // scale up but to the right
      transform: scale(1.1);
    }
  }
}